<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>angular synthesizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<style>
oscillator {
    display: block;
    border: 1px solid;
}
</style>

<body ng-app=ngSynthesizer>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
        <ng-synthesizer note=A4 scale="harmonic minor">
            <button ng-if=playing ng-click=stop()>
                stop
            </button>
            <button ng-if=!playing ng-click=play()>
                start
            </button>

            <div class=form-group>
            <label>
            frequency - {{note.latin()}}
            <input type=range ng-model=frequency min={{min}} max={{max}}>
            </label>
            <!-- note? {{scale}} -->
            <label>Autotune
              <input type=checkbox class=form-control ng-model=autotune name=Autotune label=autotune>
            </label>
            </div>

            <div class=form-group>
              <button ng-repeat="tone in tones" ng-click='playNote(tone)'>
                {{tone.latin()}}
              </button>

            <!-- <label>NOTE
                <select class='form-control' ng-model=note ng-options='note.latin() for note in tones'>
                </select>
            </label> -->


            <label>SCALES
                <select class='form-control' ng-model=scale ng-options='scale for scale in ["harmonic minor","major","major pentatonic","minor pentatonic","natural minor"]'>
                </select>
            </label>


            <oscillator wave=SINE>
                <select ng-model=wave>
                    <option>SINE</option>
                    <option>SAWTOOTH</option>
                    <option>SQUARE</option>
                    <option>TRIANGLE</option>
                </select>
            </oscillator>
            <oscillator wave=SAWTOOTH>
                <select ng-model=wave>
                    <option>SINE</option>
                    <option>SAWTOOTH</option>
                    <option>SQUARE</option>
                    <option>TRIANGLE</option>
                </select>
            </oscillator>

        </ng-synthesizer>

    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    </script>

    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/webaudioshim.js"></script>
    <script src="scripts/music.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>
