<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>angular synthesizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app=ngSynthesizer>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
     hi!

    <ng-synthesizer frequency=480>
      <button ng-if=playing ng-click=stop()>
        stop
      </button>
      <button ng-if=!playing ng-click=play()>
        start
      </button>
      <input type=range ng-model=frequency min=0 max=720>     

      <oscillator wave=SINE> 
        <select ng-model=wave>
          <option>SINE</option>
          <option>SAWTOOTH</option>
          <option>SQUARE</option>
          <option>TRIANGLE</option>
        </select>
      </oscillator>
      <oscillator wave=SAWTOOTH>
        <select ng-model=wave>
          <option>SINE</option>
          <option>SAWTOOTH</option>
          <option>SQUARE</option>
          <option>TRIANGLE</option>
        </select>
      </oscillator>
      <oscillator wave=TRIANGLE>
        <select ng-model=wave>
          <option>SINE</option>
          <option>SAWTOOTH</option>
          <option>SQUARE</option>
          <option>TRIANGLE</option>
        </select>
      </oscillator>

    </ng-synthesizer>

    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>

    </script>

        <!-- build:js(.) scripts/plugins.js -->
      
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/webaudioshim.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
