<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>angular synthesizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<style>
</style>

<body ng-app=ngSynthesizer>

    <div class="container">
        <ng-synthesizer note=A4 scale="harmonic minor">

            <div class=form-group>

            </div>

            <div class="form-group jumbotron">
                <button ng-repeat="tone in tones" class='btn btn-lg btn-default' ng-keydown='play(tone)' ng-keyup='stop()' ng-mousedown='play(tone)' ng-mouseup='stop()' accesskey={{tone.latin()}}>
                    {{tone.latin()}}
                </button>
            </DIV>

            <div class=form-group>
                <button ng-repeat='scale in ["harmonic minor","major","major pentatonic","minor pentatonic","natural minor"]' class='btn btn-warning' ng-click="setScale(scale)">
                    {{scale}}
                </button>
            </DIV>

            <div class='form-group'>
                <oscillator wave=SAWTOOTH>
                    <select ng-model=wave>
                        <option>SINE</option>
                        <option>SAWTOOTH</option>
                        <option>SQUARE</option>
                        <option>TRIANGLE</option>
                    </select>
                </oscillator>
            </div>

            <div class='form-group'>
                <oscillator wave=SINE interval=fifth>
                    <select ng-model=wave>
                        <option>SINE</option>
                        <option>SAWTOOTH</option>
                        <option>SQUARE</option>
                        <option>TRIANGLE</option>
                    </select>
                </oscillator>
            </div>
        </ng-synthesizer>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    </script>

    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/webaudioshim.js"></script>
    <script src="scripts/music.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>
